header {
    background-image: url(../Images/croppedpokeball.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Silkscreen', monospace;
}

body {
    background-image: url(../Images/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Silkscreen', monospace;
}

#logo {
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    header {
        background-image: none;
    }
}

