header {
    background-image: url(../Images/pokeball.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 20px;
    color: red;
    position: relative;
    height: 100%;
    font-family: 'Silkscreen', monospace;
}

body {
    background-image: url(../Images/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

h2 {
    font-family: 'Silkscreen', sans-serif;
}
